.headerAll {
    display: flex;
    background-color: black;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 180px;
}

@media (min-width: 576px) {
    .headerAll{
        transition: all 0.4s;
        flex-direction: row;
    }
}
@media (min-width: 992px) {

}